* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Verdana, sans-serif;
  color: #f1f1f1;
}
body { background-color: #002b36; }

#body {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  padding: 25px 0;
  color: #ffffff;
  text-align: center;
  line-height: 70px;
}
ul { list-style-type: none; }
li { padding: 15px 0; }
p { padding: 5px 0 0; }
a { color: #add8e6; }

img {
  width: 70px;
  height: auto;
  margin: 0 15px -20px 0;
}

@media screen and (max-width: 600px) {
  img {
    width: 120px;
    display: block;
    margin: auto;
  }
}