 /*1. Style header/footer <div> so they are positioned as desired. */
#header-left {
	position: absolute;
	top: 0%;
	left: 0%;
	font-size: 0.3em;
}

:not(pre span) {
	color: hsl(150, 0%, 75%) !important
}

#header-right {
	position: absolute;
	top: 0%;
	right: 0%;
}

footer {
	position: absolute;
	bottom: 0%;
	left: -18%;
	font-size: 0.3em;
}

footer img {
 	/*margin: 0 10px -5px 0;*/
	width: 25px;
	height: 25px;
	fill:#CC3333;
 	margin: 0 5px -9px 0;
 }

#intro ul {
	display: block;
}

#intro li {
	font-size: 0.8em;
	text-align: start;
}

#intro h4 {
	text-align: start;	
}

div.side-bullet-point > div {
	display: inline-block;
	width: 49%; 
	box-sizing: border-box;
}

.side-bullet-point li {
	font-size: 31px; 
	vertical-align: middle;
}

.side-bullet-point div {
	vertical-align: middle;
}


.left-justify-bullets > ul {
	top: 138.5px;
	display: block;
}

.double-bulleted > ul {
	font-size: 0.6em;
}

.double-bulleted > ul > ul {
	font-size: 0.9em;
}

img {
	background-color:transparent !important;
	box-shadow: none !important;
	border: none !important;

}

pre {
	background-color:transparent !important;
	box-shadow: none !important;
	border: none !important;
}

ul.space-li > li {
	padding: 20px 0;
	font-weight: bold;
}

div.controls-arrow {
	color: #CC3333 !important	
}

#finSlide h4, #finSlide p { text-align: left; }

#finSlide img {
	position: fixed;
	top: 0;
	right: 0;
	width: 20vh;
	height: auto;


/*
ul.space-li > li {
	padding: .3em 0;
	font-weight: bold;
}

#footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 0.3em;
}

#footer img {
	width: 25px;
	height: 25px;
	fill:red;
 	margin: 0 5px -9px 0;
 }


.table {
	top: 138.5px; 
	display: block;
}


.reveal table {
	color: #fff;
}
*/


/*USEFUL*/
/*text-align: center;
/*text-indent: 50px;
/*vertical-align: middle*/